# MongoDB
MONGODB_URI=mongodb://admin:admin123@localhost:27017/portfolio_analyzer?authSource=admin

# Zerodha Kite Connect
ZERODHA_API_KEY=
ZERODHA_API_SECRET=
ZERODHA_ACCESS_TOKEN=

# Benchmark API
MFAPI_SCHEME_CODE=120716
